/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.2;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  background: linear-gradient(
      to bottom,
      rgba(20, 30, 48, 0.5),
      rgba(36, 59, 85, 0.5)
    ),
    url("https://i.pinimg.com/originals/f9/01/c4/f901c412dcc742b782115fcad2477347.jpg");
  color: #e2e2e2;
  height: auto;
  width: auto;
}

header {
  display: block;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 3rem;
}
#title {
  font-size: 2.5rem;
  margin: auto;
  height: auto;
  width: 100%;
}
#form-section {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 0em;
}
form {
  max-width: 620px;
  margin: 0;
  color: #e2e2e2;
  /* background: #0f2027; */
  line-height: 1em;
  font-family: serif;
  font-size: 20px;
  margin-bottom: 5em;
}

form input[type="text"],
input[type="email"] {
  display: block;
  padding: 10px 10px;
  margin: 15px 5px;
  border-radius: 5px;
  background: #bdc3c7;
  margin-left: 0;
  width: 50%;
}
#number,
#condition {
  display: block;
  padding: 5px 2px;
  border-radius: 5px;
  width: auto;
  background: #bdc3c7;
}
textarea {
  border-radius: 5px;
  width: 50%;
  background-color: #bdc3c7;
}
.first {
  margin-bottom: 10px;
}
#submit {
  margin-top: 10px;
  font-weight: 700;
  width: 20%;
  color: white;
  padding: 10px;
  background: #2c3e50;
  border-radius: 5px;
}
